---
import Layout from '@/layouts/Layout.astro'
import { fetchUserFiles } from '@/lib/db/files'
import { supabaseServer } from '@/lib/supabase'
import FilesGrid from '@/components/FilesGrid.vue'
import ShareDialog from '@/components/ShareDialog.vue'
import UploadFilesDialog from '@/components/UploadFilesDialog.vue'
import UploadButton from '@/components/UploadButton.vue'

const supabase = await supabaseServer(Astro.locals)

const user = await Astro.locals.currentUser()
if (!user) return new Response('Unauthorized', { status: 401 })

const files = await fetchUserFiles(user.id, supabase)
---

<Layout title="My Files">
  <UploadFilesDialog client:load />
  <UploadButton client:load />
  <div class="container mx-auto mt-8">
    <FilesGrid client:load files={files} isMyOwnFile />
    <ShareDialog client:load />
  </div>
</Layout>

<script></script>
