---
import Layout from '@/layouts/Layout.astro'
import { fetchFilesSharedWithUser } from '@/lib/db/files'
import { supabaseServer } from '@/lib/supabase'
import FilesGrid from '@/components/FilesGrid.vue'
import ShareDialog from '@/components/ShareDialog.vue'

const supabase = await supabaseServer(Astro.locals)

const user = await Astro.locals.currentUser()
if (!user) return new Response('Unauthorized', { status: 401 })

const filesSharedWithMe = await fetchFilesSharedWithUser(
  user.emailAddresses[0].emailAddress,
  supabase
)

const files = filesSharedWithMe.map((file) => file.files)
---

<Layout title="Shared With Me">
  <div class="container mx-auto mt-8">
    <FilesGrid client:load files={files} :isMyOwnFile={false} />
  </div>
  <ShareDialog client:load />
</Layout>

<script></script>
