---
import Layout from '@/layouts/Layout.astro'
import { SignedOut, SignInButton } from '@clerk/astro/components'

const title = 'ClerkSafe — Secure File Sharing Made Easy'
---

<Layout title={title}>
  <section class="py-20 text-gray-300 bg-gray-800">
    <div class="container mx-auto px-4 text-center">
      <h2 class="text-6xl font-extrabold mb-6">
        Seamlessly Share Files with Confidence
      </h2>
      <p class="text-3xl max-w-[50ch] text-balance mx-auto leading-relaxed">
        With ClerkSafe, securely store and share your documents anytime,
        anywhere, with ease and peace of mind.
      </p>
      <SignedOut>
        <SignInButton asChild mode="modal">
          <button
            class="mt-10 bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:ring-4 focus:ring-blue-300 text-white text-xl font-semibold py-3 px-8 rounded-full transition duration-200 shadow-lg cursor-pointer"
          >
            Get Started for Free!
          </button>
        </SignInButton>
      </SignedOut>
    </div>
  </section>

  <section id="features" class="py-16 text-gray-300 bg-gray-800">
    <div class="container mx-auto px-4 text-center">
      <h3 class="text-6xl font-bold mb-12">Why Choose Us?</h3>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 max-w-5xl mx-auto">
        <div
          class="p-6 bg-slate-700 rounded-lg shadow-lg hover:shadow-xl transition duration-300 hover:transform hover:scale-102"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12 text-blue-400 mx-auto mb-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"></path>
          </svg>
          <h4 class="text-xl font-semibold mb-3">Secure Sharing</h4>
          <p class="leading-relaxed">
            Your files are securely stored thanks to Supabase Storage service.
          </p>
        </div>

        <div
          class="p-6 bg-slate-900 rounded-lg shadow-lg hover:shadow-xl transition duration-300 hover:transform hover:scale-102"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12 text-blue-400 mx-auto mb-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path d="M13 10V3L4 14h7v7l9-11z"></path>
          </svg>
          <h4 class="text-xl font-semibold mb-3">Fast and Reliable</h4>
          <p class="leading-relaxed">
            Our platform is built on top of Clerk, ensuring reliability.
          </p>
        </div>

        <div
          class="p-6 bg-slate-700 rounded-lg shadow-lg hover:shadow-xl transition duration-300 hover:transform hover:scale-102"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-12 w-12 text-blue-400 mx-auto mb-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              d="M9.663 17c.84 0 1.524-.136 2.112-.406.588-.27 1.096-.696 1.512-1.268a3.32 3.32 0 001.442-1.988V11c0-.432.144-.832.417-1.184A3.32 3.32 0 0015 6.663c-.324-.312-.668-.584-1.032-.816.496-.168.976-.384 1.432-.648.568-.336 1.136-.768 1.68-1.32.512-.512.964-1.064 1.384-1.664C20.292 2.64 19.744 2 19 2c-.736 0-1.376.56-1.584 1.28a3.32 3.32 0 00-1.48 2.448V9c0 .432-.144.832-.416 1.184A3.32 3.32 0 0015 14.337c-.324.312-.668.584-1.032 1.216.496.168.976.384 1.432.648.568.336 1.136.768 1.68 1.32.512.512.964 1.064 1.384 1.664C19.708 21.36 19.16 22 18.444 22c-.736 0-1.376-.56-1.584-1.28a3.32 3.32 0 00-1.48-2.448V13c0-.432.144-.832.416-1.184A3.32 3.32 0 0015 9.663v-.728a3.32 3.32 0 00-1.48-2.448C12.444 4.64 12 4 12 4c0 .704.324 1.328.852 1.856A3.32 3.32 0 0013 7.552V11c0 .432-.144.832-.416 1.184A3.32 3.32 0 0012 13.663v4.663a3.32 3.32 0 001.584 2.72c.208.72.756 1.272 1.48 1.272z"
            ></path>
          </svg>
          <h4 class="text-xl font-semibold mb-3">Easy to Use</h4>
          <p class="leading-relaxed">
            Our user-friendly interface makes it easy to upload and share files.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="contact" class="py-16 text-gray-300 bg-gray-800">
    <div class="container mx-auto px-4 text-center">
      <h3 class="text-6xl font-bold mb-6">Ready to Get Started?</h3>
      <p
        class="text-3xl max-w-[80ch] text-balance mx-auto mb-10 leading-relaxed"
      >
        Join thousands of satisfied users who trust ClerkSafe for their file
        sharing needs. Sign up today and experience the difference!
      </p>
    </div>
  </section>
</Layout>
